/***   HELP   ***/
.help-container { 
    background-color: #FEFEFE; 
    border: solid #e0e0e0 1px;
}

.help-container p {
    margin-bottom: 5px;
}

#help-carousel { 
    padding: 5px 10px;
}

.carousel {
    margin: 5px 0;
}

.carousel-item { 
    width: auto;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}